In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/message-order/messages.csv
/kaggle/input/message-order/orders.csv

In [3]:
import pandas as pd
import numpy as np

In [7]:
time=pd.read_csv('/kaggle/input/message-order/messages.csv')
date=pd.read_csv('/kaggle/input/message-order/orders.csv')

In [8]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [9]:
time.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [10]:
date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1000 non-null   object
 1   product_id  1000 non-null   int64
 2   city_id     1000 non-null   int64
 3   orders      1000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [11]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

**Working with time & date**

In [14]:
date['date'] = pd.to_datetime(date['date'], errors='coerce')
date['date_year'] = date['date'].dt.year

date.sample(5)

          date  product_id  city_id  orders  date_year
929 2019-12-07        6801        3       7       2019
919 2019-06-01        6386        2       1       2019
804 2018-10-03        3691       17       1       2018
428 2018-07-14        4183       22       8       2018
885 2019-07-03        7368       25       1       2019

In [15]:
#Extract month

date['date_month_no']=date['date'].dt.month
date.head()

        date  product_id  city_id  orders  date_year  date_month_no
0 2019-12-10        5628       25       3       2019             12
1 2018-08-15        3646       14     157       2018              8
2 2018-10-23        1859       25       1       2018             10
3 2019-08-17        7292       25       1       2019              8
4 2019-01-06        4344       25       3       2019              1

In [16]:
date['date_month_name']=date['date'].dt.month_name()
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name
0,2019-12-10,5628,25,3,2019,12,December
1,2018-08-15,3646,14,157,2018,8,August
2,2018-10-23,1859,25,1,2018,10,October
3,2019-08-17,7292,25,1,2019,8,August
4,2019-01-06,4344,25,3,2019,1,January

In [17]:
date['date_day']=date['date'].dt.day
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day
0,2019-12-10,5628,25,3,2019,12,December,10
1,2018-08-15,3646,14,157,2018,8,August,15
2,2018-10-23,1859,25,1,2018,10,October,23
3,2019-08-17,7292,25,1,2019,8,August,17
4,2019-01-06,4344,25,3,2019,1,January,6

In [18]:
#day of  week
date['date_dow']=date['date'].dt.dayofweek
date.head()

,date,product_id,city_id,orders,date_year,date_month_no,date_month_name,date_day,date_dow
0,2019-12-10,5628,25,3,2019,12,December,10,1
1,2018-08-15,3646,14,157,2018,8,August,15,2
2,2018-10-23,1859,25,1,2018,10,October,23,1
3,2019-08-17,7292,25,1,2019,8,August,17,5
4,2019-01-06,4344,25,3,2019,1,January,6,6

In [19]:
#day of week  - name

date['date_dow_name']=date['date'].dt.day_name()
date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name
0,2019-12-10,2019,12,December,10,1,Tuesday
1,2018-08-15,2018,8,August,15,2,Wednesday
2,2018-10-23,2018,10,October,23,1,Tuesday
3,2019-08-17,2019,8,August,17,5,Saturday
4,2019-01-06,2019,1,January,6,6,Sunday

In [ ]:
#is weekend?

date['date_is_weekend']=np.where(date['date_dow_name'].isin(['Sunday','Saturday']),1,0)
date.drop(columns=['product_id','city_id','orders']).head()

In [23]:
date['date_week'] = date['date'].dt.isocalendar().week


date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_week
0,2019-12-10,2019,12,December,10,1,Tuesday,50
1,2018-08-15,2018,8,August,15,2,Wednesday,33
2,2018-10-23,2018,10,October,23,1,Tuesday,43
3,2019-08-17,2019,8,August,17,5,Saturday,33
4,2019-01-06,2019,1,January,6,6,Sunday,1

In [24]:
#extract quarter

date['quarter'] = date['date'].dt.quarter

date.drop(columns=['product_id','city_id','orders']).head()

,date,date_year,date_month_no,date_month_name,date_day,date_dow,date_dow_name,date_week,quarter
0,2019-12-10,2019,12,December,10,1,Tuesday,50,4
1,2018-08-15,2018,8,August,15,2,Wednesday,33,3
2,2018-10-23,2018,10,October,23,1,Tuesday,43,4
3,2019-08-17,2019,8,August,17,5,Saturday,33,3
4,2019-01-06,2019,1,January,6,6,Sunday,1,1

**Extract Time elapsed between dates**

In [25]:
import datetime

today=datetime.datetime.today()
today

datetime.datetime(2025, 11, 20, 5, 27, 56, 641450)

In [26]:
today-date['date']

0     2172 days 05:27:56.641450
1     2654 days 05:27:56.641450
2     2585 days 05:27:56.641450
3     2287 days 05:27:56.641450
4     2510 days 05:27:56.641450
                 ...
995   2600 days 05:27:56.641450
996   2541 days 05:27:56.641450
997   2389 days 05:27:56.641450
998   2454 days 05:27:56.641450
999   2228 days 05:27:56.641450
Name: date, Length: 1000, dtype: timedelta64[ns]

In [27]:
(today-date['date']).dt.days

0      2172
1      2654
2      2585
3      2287
4      2510
       ...
995    2600
996    2541
997    2389
998    2454
999    2228
Name: date, Length: 1000, dtype: int64

In [30]:
#month passed


date['months_diff'] = (today.year - date['date'].dt.year) * 12 + \
                       (today.month - date['date'].dt.month)

In [31]:

# Converting to datetime datatype
time['date'] = pd.to_datetime(time['date'])

In [32]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

In [33]:
time['hour'] = time['date'].dt.hour
time['min'] = time['date'].dt.minute
time['sec'] = time['date'].dt.second

time.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

In [35]:
time['time'] = time['date'].dt.time

time.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

In [36]:
#time diffdifference

today - time['date']

0     4358 days 04:37:56.641450
1     4222 days 05:47:56.641450
2     4708 days 05:06:56.641450
3     4010 days 04:56:56.641450
4     4407 days 06:16:56.641450
                 ...
995   4997 days 04:37:56.641450
996   4318 days 06:13:56.641450
997   4783 days 05:50:56.641450
998   4899 days 05:53:56.641450
999   4171 days 06:02:56.641450
Name: date, Length: 1000, dtype: timedelta64[ns]

In [37]:

# in seconds

(today - time['date'])/np.timedelta64(1,'s')

0      3.765479e+08
1      3.648017e+08
2      4.067896e+08
3      3.464818e+08
4      3.807874e+08
           ...
995    4.317575e+08
996    3.730976e+08
997    4.132723e+08
998    4.232948e+08
999    3.603962e+08
Name: date, Length: 1000, dtype: float64

In [38]:

# in minutes

(today - time['date'])/np.timedelta64(1,'m')

0      6.275798e+06
1      6.080028e+06
2      6.779827e+06
3      5.774697e+06
4      6.346457e+06
           ...
995    7.195958e+06
996    6.218294e+06
997    6.887871e+06
998    7.054914e+06
999    6.006603e+06
Name: date, Length: 1000, dtype: float64

In [39]:

# in hours

(today - time['date'])/np.timedelta64(1,'h')

0      104596.632400
1      101333.799067
2      112997.115734
3       96244.949067
4      105774.282400
           ...
995    119932.632400
996    103638.232400
997    114797.849067
998    117581.899067
999    100110.049067
Name: date, Length: 1000, dtype: float64